<%- include('./partials/head') %>
<article class="hero">
    <section>
        <h1>Vakantie dagen</h1>
        <p>Plan je vakantie dagen</p>
        <form id="vacationForm">
            <label for="">Selecteer een dag:</label>
            <select id="weekSelect" name="weekId" value="1">

                <!-- Voeg meer opties toe voor andere weken -->
            </select>
            <button class="show-week-button" type="submit">Rooster Bekijken</button>
        </form>
    </section>
    <img src="/img/hero.png" alt="planner" width="400" height="400">
</article>



<%- include('./partials/foot') %>